<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  <li class="breadcrumb-item active">Ruta</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Rutas</h2>
  </div>
  <div class="content">
    <form #f="ngForm">

      <div class="form-group">
        <label for="codigo_ruta">Codigo:</label>
        <input [(ngModel)]="filter.codigo_ruta" id="codigo_ruta" name="codigo_ruta" class="form-control">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Buscar</button>
      <a [routerLink]="['../rutas', 'new' ]" class="btn btn-default">Nuevo</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="rutaList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Codigo</th>
          <th class="border-top-0" scope="col">Estado</th>
          <th class="border-top-0" scope="col" style="width:120px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of rutaList" [class.active]="item === selectedTroncal">

          <td>{{item.id_ruta}}</td>
          <td>{{item.codigo_ruta}}</td>
          <td>{{item.activo_ruta=='a'?'Activo':'Inactivo'}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../rutas', item.id_ruta ]" class="btn btn-secondary">Editar</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger" [disabled]="item.activo_ruta=='n'">Inhabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
