<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  <li class="breadcrumb-item active">Estación</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Detalles de la estación</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="troncalEstacion" #editForm="ngForm" (ngSubmit)="save()">

      <div class="form-group">
        <label>Id</label>
        {{troncalEstacion.id_troncal_estacion || 'n/a'}}
      </div>

      <div class="form-group">
        <label for="troncal_troncal_estacion">Troncal</label>
        <select name="troncal_troncal_estacion" [(ngModel)]="selectedTroncal" class="form-control">
          <option
          [ngValue]="item"
          *ngFor="let item of troncales">
          {{item.letra_troncal +' - '+item.nombre_troncal}}
        </option>
        </select>
      </div>

      <div class="form-group">
        <label for="estacion_troncal_estacion">Estacion</label>
        <select name="estacion_troncal_estacion" [(ngModel)]="selectedEstacion" class="form-control">
          <option [ngValue]="item" *ngFor="let item of estaciones">{{item.nombre_estacion}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="activo_troncal_estacion">Estado</label>
        <select name="activo_troncal_estacion" [(ngModel)]="troncalEstacion.activo_troncal_estacion" class="form-control">
          <option [ngValue]="item.id" *ngFor="let item of estados">{{item.nombre}}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
    </form>
  </div>
</div>
