<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  <li class="breadcrumb-item active">Vagones</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Vagones</h2>
  </div>
  <div class="content">
    <form #f="ngForm">

      <div class="form-group">
        <label for="id_plataforma">Busqueda por Plataforma y Troncal estación:</label>
        <input [(ngModel)]="filter.id_search" id="id_plataforma" name="id_plataforma" class="form-control">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Buscar</button>
      <a [routerLink]="['../vagons', 'new' ]" class="btn btn-default">Nuevo</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="vagonList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Plataforma</th>
          <th class="border-top-0" scope="col">Estacion</th>
          <th class="border-top-0" scope="col">Número</th>
          <th class="border-top-0" scope="col">Estado</th>
          <th class="border-top-0" scope="col" style="width:120px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of vagonList" [class.active]="item === selectedPlataforma">

          <td>{{item.id_vagon}}</td>
          <td>{{item.id_plataforma}}</td>
          <td>{{item.id_troncal_estacion}}</td>
          <td>{{item.numero_vagon}}</td>
          <td>{{item.activo_vagon=='a'?'Activo':'Inactivo'}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../vagons', item.id_vagon ]" class="btn btn-secondary">Editar</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger" [disabled]="item.activo_vagon=='n'">Inhabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
