<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  <li class="breadcrumb-item active">Troncal</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Troncales</h2>
  </div>
  <div class="content">
    <form #f="ngForm">

      <div class="form-group">
        <label for="nombre_troncal">Nombre:</label>
        <input [(ngModel)]="filter.nombre_troncal" id="nombre_troncal" name="nombre_troncal" class="form-control">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Buscar</button>
      <a [routerLink]="['../troncals', 'new' ]" class="btn btn-default">Nuevo</a>
    </form>
  </div>
</div>
<div class="card" *ngIf="troncalList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Nombre</th>
          <th class="border-top-0" scope="col">Letra</th>
          <th class="border-top-0" scope="col">Color</th>
          <th class="border-top-0" scope="col">Estado</th>
          <th class="border-top-0" scope="col" style="width:120px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of troncalList" [class.active]="item === selectedTroncal">

          <td>{{item.id_troncal}}</td>
          <td>{{item.nombre_troncal}}</td>
          <td>{{item.letra_troncal}}</td>
          <td>{{item.color_troncal}}</td>
          <td>{{item.activo_troncal}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../troncals', item.id_troncal ]" class="btn btn-secondary">Editar</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Inhabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
