<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  <li class="breadcrumb-item active">Viaje</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Viajes</h2>
  </div>
  <div class="content">
    <form #f="ngForm">

      <div class="form-group">
        <label for="id_asignacion_ruta">Asignacion:</label>
        <input [(ngModel)]="filter.id_asignacion_ruta" id="id_asignacion_ruta" name="id_asignacion_ruta" class="form-control">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Buscar</button>
      <a [routerLink]="['../viajes', 'new' ]" class="btn btn-default">Nuevo</a>
      <button (click)="descargar()" class="btn btn-primary">Descargar</button>
    </form>
  </div>
</div>
<div class="card" *ngIf="viajeList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Asignación</th>
          <th class="border-top-0" scope="col">Fecha inicio</th>
          <th class="border-top-0" scope="col">Fecha fin</th>
          <th class="border-top-0" scope="col" style="width:120px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of viajeList" [class.active]="item === selectedViaje">

          <td>{{item.id_viaje}}</td>
          <td>{{"Ruta: "+ item.asinnations.routes.codigo_ruta+" - Bus: "+item.asinnations.buses.placabus+" - horario: "+item.asinnations.schedules.horario_inicio.substring(11)+" - "+item.asinnations.schedules.horario_fin.substring(11)}}</td>
          <td>{{item.fecha_inicio_viaje}}</td>
          <td>{{item.fecha_fin_viaje}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../viajes', item.id_viaje ]" class="btn btn-secondary">Editar</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
