<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
  <li class="breadcrumb-item active">Portal</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Portales</h2>
  </div>
  <div class="content">
    <form #f="ngForm">

      <div class="form-group">
        <label for="id_troncal">Troncal:</label>
        <input [(ngModel)]="filter.id_troncal" id="id_troncal" name="id_troncal" class="form-control">
      </div>

      <button (click)="search()" [disabled]="!f?.valid" class="btn btn-primary">Buscar</button>
      <a [routerLink]="['../portals', 'new' ]" class="btn btn-default">Nuevo</a>
      <button (click)="descargar()" class="btn btn-primary">Descargar</button>
    </form>
  </div>
</div>
<div class="card" *ngIf="portalList.length > 0">
  <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0" id="datatable">
      <thead>
        <tr>
          <th class="border-top-0" scope="col">Id</th>
          <th class="border-top-0" scope="col">Troncal</th>
          <th class="border-top-0" scope="col">Nombre</th>
          <th class="border-top-0" scope="col">Estado</th>
          <th class="border-top-0" scope="col" style="width:120px">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of portalList" [class.active]="item === selectedTroncal">

          <td>{{item.id_portal}}</td>
          <td>{{item.trunk.nombre_troncal}}</td>
          <td>{{item.nombre_portal}}</td>
          <td>{{item.activo_portal=='a'?'Activo':'Inactivo'}}</td>
          <td style="white-space: nowrap">
            <a [routerLink]="['../portals', item.id_portal ]" class="btn btn-secondary">Editar</a>&nbsp;
            <button (click)="delete(item)" class="btn btn-danger" [disabled]="item.activo_portal=='n'">Inhabilitar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
